backend:
  auth_pass: admin
  auth_user: admin
  celery_broker_url: redis://:redispass@redis:6379/0
  frontend_host: frontend
  host: 0.0.0.0
  is_debug: 'true'
  mongo_url: mongodb://admin:admin@mongo:27017/bountyforge?authSource=admin
  port: 5000
  project_version: 0.1.2
  rate_limit: 20
  session_lifetime: 3
  session_secret_key: default_secret_key
  threads: 1
  timeout: 120
  workers: 1
frontend:
  auth_pass: admin
  auth_user: admin
  backend_host: backend
  host: 0.0.0.0
  is_debug: true
  port: 8080
  session_lifetime: 3
  session_secret: default_secret_key
  session_secret_key: default_secret_key
  workers: 1
logging:
  file_path: null
  level: 10
  syslog_enabled: false
scanners:
  httpx:
    additional_flags: []
    mode: recon
  nmap:
    additional_flags: []
    scan_type: default
  nuclei:
    additional_flags: []
    mode: full
    templates_dir: ''
  subdomain_bruteforce:
    additional_flags: []
    wordlist: subdomains-small.txt
  subfinder:
    additional_flags: []
